<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274292413711-sp142vbjlst4v0eu6jklskhmm6frm548.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274292413711-sp142vbjlst4v0eu6jklskhmm6frm548</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>274292413711-43k8j5noeqho7c9fr00914e4ik4od6bv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6dKbgrsP7P8ZF4Hb_xWR9FKsoq_TL5-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>274292413711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seielika.rdVote</string>
	<key>PROJECT_ID</key>
	<string>rdvote-22284</string>
	<key>STORAGE_BUCKET</key>
	<string>rdvote-22284.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274292413711:ios:f1b25436ee4e3258845a7a</string>
	<key>DATABASE_URL</key>
	<string>https://rdvote-22284-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>